.signup-card{
    // margin-bottom: auto;
    position: relative;
    height: 36.75rem;
}
footer{
    position: relative;
    bottom: 0px;
    // margin-top: auto;
}
// .app{
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     font-size: calc(10px + 2vmin);
//     justify-content: center;
//     min-height: 100vh;
//     overflow: hidden;
//     text-align: center;
// }

